<!DOCTYPE html>
<html>
  <head>
    <style>
    body {background-color: grey;}
    h1 {color: #000;}
    form { margin: 0 auto; width:20%; }
    </style>
  </head>
  <body>
    <span><h1>User's battle-tag ("#" should be replaced with '-')</h1></span>
    <form method="post">
      <input type="text" name="battletag"></textarea>
      <br />
      <!-- Platform -->
      <select name="platform">
        <option value="pc">PC</option>
        <option value="psn">PSN</option>
        <option value="xbl">XBox Live</option>
      </select>
      <br />
      <!-- Region -->
      <select class="parameter required" name="region">
        <option value="cn">China</option>
        <option value="eu">Europe</option>
        <option value="global">Global</option>
        <option value="kr">Korea</option>
        <option value="us">United states</option>
      </select>
      <br/>
      <input type="submit"/>
    </form>
  </body>
</html>